.linear {
  background:
    linear-gradient(
      180.45deg,
      rgba(38, 38, 38, 0) 0.75%,
      rgba(38, 38, 38, 0.9) 61.94%
    ),
    url("web.jpg");
  background-position: cover;
}

.ounce {
  background-color: rgb(113, 113, 113);
  color: white;
  border: none;
  outline-style: none;
}

.ounce:hover {
  background-color: orange;
  color: white;
}

.aunt {
  margin-top: 18rem;
  width: 100%;
  text-transform: capitalize;
  font-weight: 700;
}

.resume {
  background-color: #ff6b00;
  color: #fff;
}

.line {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 3px;
}

.line-2 {
  height: 3px;
  width: 100%;
  background-color: black;
  border-radius: 3px;
}

.xelarge {
  height: 70vh;
  background-image: url('maxim.png');
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 100%;
  background-position: right;
  background-size: contain;
}

.leaner {
  margin: 0;
  padding: 0;
  height: 3px;
  border-radius: 3px;
  background-color: rgb(88, 87, 87);
}

.clickers {
  background-color: #ff6b00;
}

a {
  text-decoration: none;
}

.age {
  color: #ff6b00;
}

.card {
  height: 25rem;
}
